In [1]:
import pandas as pd

In [4]:
#import May data
may = pd.read_csv("./202305-citibike-tripdata.csv")
may.head()

/var/folders/xc/r18gm2sd0m16qw4wsywkh69w0000gn/T/ipykernel_78008/313186379.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  may = pd.read_csv("./202305-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member

In [6]:
#import June data
june = pd.read_csv("./202306-citibike-tripdata.csv")
june.head()

/var/folders/xc/r18gm2sd0m16qw4wsywkh69w0000gn/T/ipykernel_78008/1811713366.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  june = pd.read_csv("./202306-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,984F50BCBC76DD9A,classic_bike,2023-06-11 06:54:21,2023-06-11 07:12:28,W 84 St & Columbus Ave,7382.04,Amsterdam Ave & W 125 St,7800.03,40.785000,-73.972834,40.813358,-73.956461,member
1,03E3D62E7FB76B05,classic_bike,2023-06-19 15:23:11,2023-06-19 16:00:05,E 89 St & York Ave,7204.08,Mott St & Prince St,5561.04,40.777958,-73.945928,40.723180,-73.994800,member
2,8E7EE421A0B8BBF3,classic_bike,2023-06-06 16:07:05,2023-06-06 16:15:14,E 51 St & 2 Ave,6575.03,E 25 St & 1 Ave,6004.07,40.755357,-73.967489,40.738177,-73.977387,member
3,24D66A0C46493CB1,classic_bike,2023-06-26 19:52:23,2023-06-26 19:55:47,India St Pier,5794.05,Franklin St & Dupont St,5944.01,40.731735,-73.961239,40.735640,-73.958660,member
4,E944882A074B8F61,classic_bike,2023-06-05 08:57:57,2023-06-05 09:13:36,E 47 St & 2 Ave,6498.1,5 Ave & E 29 St,6248.06,40.753231,-73.970325,40.745168,-73.986831,member

In [7]:
#import July data
july = pd.read_csv("./202307-citibike-tripdata.csv")
july.head()

/var/folders/xc/r18gm2sd0m16qw4wsywkh69w0000gn/T/ipykernel_78008/3456446446.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  july = pd.read_csv("./202307-citibike-tripdata.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC78328130CD8A16,classic_bike,2023-07-16 20:42:57,2023-07-16 20:45:13,St. Nicholas Ave & W 126 St,7756.10,Adam Clayton Powell Blvd & W 126 St,7738.04,40.811432,-73.951878,40.809495,-73.947765,member
1,71A4DFA231ADAEA2,classic_bike,2023-07-29 12:22:21,2023-07-29 12:26:54,Adam Clayton Powell Blvd & W 118 St,7670.09,Adam Clayton Powell Blvd & W 126 St,7738.04,40.804372,-73.951475,40.809495,-73.947765,member
2,B64451D0D9F52134,classic_bike,2023-07-30 18:30:18,2023-07-30 18:35:42,St. Nicholas Ave & W 126 St,7756.10,Lenox Ave & W 130 St,7753.13,40.811378,-73.951827,40.810792,-73.943068,member
3,EEECB3E0E05EB0DB,classic_bike,2023-07-04 19:59:20,2023-07-04 20:02:03,St. Nicholas Ave & W 126 St,7756.10,Adam Clayton Powell Blvd & W 126 St,7738.04,40.811432,-73.951878,40.809495,-73.947765,member
4,76B706DF4FC180DC,classic_bike,2023-07-03 19:33:36,2023-07-03 19:43:59,St. Nicholas Ave & W 126 St,7756.10,Pleasant Ave & E 116 St,7450.05,40.811543,-73.951813,40.794988,-73.933335,member

In [8]:
#create dataset with combined data
combined_months = pd.concat([may, june, july], axis=0, ignore_index=True)

In [10]:
combined_months.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
10917276,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,5156.05,Irving Ave & Halsey St,4695.04,40.709340,-73.956080,40.694670,-73.906630,member
10917277,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,7667.04,Intervale Ave & Westchester Ave,7948.10,40.803026,-73.942863,40.821967,-73.896752,member
10917278,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,3579.04,14 St & 5 Ave,3771.06,40.659647,-73.980421,40.666287,-73.988951,member
10917279,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,4461.04,Broadway & Kent Ave,5134.09,40.689412,-73.968847,40.710888,-73.968329,member
10917280,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,7579.11,E 116 St & 2 Ave,7563.06,40.796568,-73.934595,40.796879,-73.937261,member

In [11]:
#count rows
len(combined_months)

10917281

In [13]:
#export new combined dataset as csv
combined_months.to_csv('combined_dataset.csv', index=False)